* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(17, 17, 17);
}

h1, h2, h3,
h4, h5, h6,
span, a, p {
  color: white;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

span, a, p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app-container {
  margin: 0 auto;
  /* border: 1px solid darkblue; */
  width: 98%;
  max-width: 1200px;
}