.price-header {
  padding-bottom: 1rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: clamp(18px, 4vw, 38px);
  text-align: center;
  /* color: #00CA35; */
}

.price-header > span {
  font-family: "Roboto", sans-serif;
  color: #00CA35;
}

.title {
  margin-bottom: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.static-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* .description {
  font-family: "Roboto", sans-serif;
} */

.descriptions, .fact {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 300px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

.descriptions {
  font-size: 17px;
}

.fact {
  border: 4px solid #00CA35;
  border-radius: 12px;
  padding: 1.1rem;
  font-style: italic;
  font-size: 17px;
}

.link, .fact > a {
  color: lightgreen;
}