nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid rgb(218, 175, 7);
}

nav > h3 {
  border: 1px solid palegreen;
}

nav > ul {
  display: none;
}

.link {
  border: 1px solid blue;
  padding: .25rem .5rem;
  background-color: mediumspringgreen;
  text-decoration: none;
  color: black;
}

.dropdown-btn {
  border: 1px solid black;
}

/* breakpoint may change */
@media (min-width: 950px) {
  nav > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
    margin: 0;
    border: 1px solid green;
    padding: 0;
    list-style-type: none;
  }

  nav > ul > li {
    /* vertically centers .link in <li> */
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
  }

  .dropdown-btn {
    display: none;
  }
}