nav {
  position: sticky;
  top: 0;
  /* left: 0; */
  z-index: 1;
  margin-bottom: 10vh;
  border: 1px solid rgb(218, 175, 7);
  background-color: #00CA35;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 98%;
  max-width: 1200px;
}

.nav-inner > h3 {
  /* border: 1px solid palegreen; */
  margin: 0;
  padding: 0;
  color: darkgreen;
}

.nav-links {
  position: relative;
  /* border-bottom: 1px dotted violet; */
}

.nav-links > ul {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  /* border: 1px solid green; */
  padding: 1rem;
  /* background-color: blueviolet; */
  list-style-type: none;
  white-space: nowrap;
}

.link {
  display: block;
  /* border: 1px solid blue; */
  padding: .25rem .5rem;
  /* background-color: mediumspringgreen; */
  text-decoration: none;
  /* color: black; */
}

.dropdown-btn {
  /* border-bottom: 1px dotted black; */
  padding: .5rem .75rem;
  background-color: green;
}

.hide {
  display: none;
}

/* breakpoint may change */
@media (min-width: 950px) {
  nav {
    justify-content: space-between;
  }

  .nav-links > ul {
    position: static;
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
  }

  .nav-links > ul > li {
    /* vertically centers .link in <li> */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
  }

  .dropdown-btn {
    display: none;
  }

  .hide {
    /* nav should never be hidden on larger screens */
    display: block;
  }
}