/* .news-outer {
  border: 1px solid orange;
} */

.title {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.title ~ p {
  text-align: center;
  font-size: clamp(14px, 2vw, 16px);
}

.news-inner {
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 550px;
}

.news {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto 100px;
  /* keep in case want to include these on mobile */
  /* border-left: 10px solid #00CA35;
  border-radius: 4px;
  padding: 10px 0 10px 20px; */
  background-color: rgb(17, 17, 17);
}

.image-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 44vw;
  max-height: 250px;
  border-radius: 2px;
  background-color: rgb(17, 17, 17);
}

.image-container > img {
  width: 100%;
  max-width: 550px;
}

.headline {
  margin: 0;
  padding: 1rem 0 .25rem;
}

.headline > a {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
}

.headline > a:hover {
  color: #00CA35;
}

.source {
  display: flex;
  gap: 0 .25rem;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.source > span {
  color: lightslategray;
}

.summary {
  margin: 0;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}

.link {
  font-family: "Merriweather", serif;
  font-size: 15px;
  color: #00CA35;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 700px) {
  .news {
    border-left: 10px solid #00CA35;
    border-radius: 4px;
    padding: 10px 0 10px 20px;
  }
}