{% extends 'tesla/base.html' %}

{% block page_header %}
    <h1 class="green-header">{{ about_page_data.0 }}</h1>
{% endblock page_header %}

{% block content %}
<br>
<h4>{{ about_page_data.1 }}</h4>
<br><br>
<h4>{{ about_page_data.2 }}</h4>
<br><br>
<h2 class="green-header">About the Creator</h2>
<br>
<h4>{{ about_page_data.3 }}</h4>
<br><br>
<h2 class="green-header">Links:</h2>
<br>
<h5>Contact Me: <a class="tesla-link" href="http://codered1227@gmail.com" target="_blank">codered1227@gmail.com</a></h5>
<h5>Github project link: <a class="tesla-link" href="{{ about_page_data.6 }}" target="_blank">http://github.com/cudderson/tesla-now</a></h5>
<h5>Finnhub: <a class="tesla-link" href="{{ about_page_data.5 }}" target="_blank">http://finnhub.io</a></h5>
<h5>Tesla Inc: <a class="tesla-link" href="{{ about_page_data.7 }}" target="_blank">http://tesla.com</a></h5>
<br><br>
<h4 class="text-center">Disclaimer: {{ about_page_data.4 }}</h4>
<br><br><br>
{% endblock content %}