{% extends 'tesla/base.html' %}

{% block page_header %}
    <h1>Tesla EPS Statistics for the Last 4 Quarters</h1>
{% endblock page_header %}

{% block content %}

<div class="tesla-chart">
    {{ eps_chart|safe }}
</div>

<br>
<h1>What is EPS?</h1>
<br>
<h3>EPS, or Earnings per Share, represents a company's net profit divided by its outstanding shares.</h3>
<br>
<h3>Investors use EPS as a measure a company's real value, as EPS indicates how much money a company makes
for each share of its stock.</h3>
<br>
<h3>Read more about EPS here:
    <a class="tesla-link" href="https://en.wikipedia.org/wiki/Earnings_per_share" target="_blank">Wikipedia/eps</a></h3>
<br><br>
{% endblock content %}