{% extends 'tesla/base.html' %}

<form action="{% url 'tesla:eps' %}">
    <input type="submit" value="View EPS Chart" />
</form>
<form action="{% url 'tesla:sma' %}">
    <input type="submit" value="View SMA Chart" />
</form>
<form action="{% url 'tesla:recommendations' %}">
    <input type="submit" value="View Recommendation Chart" />
</form>
<form action="{% url 'tesla:news' %}">
    <input type="submit" value="View Real-Time Tesla News" />
</form>

{% block page_header %}
<h1>The Current Price of Tesla: ${{ current_price }}</h1>
{% endblock page_header %}

{% block content %}
{{ home_chart|safe }}
{% endblock content %}
