{% extends 'tesla/base.html' %}


{% block page_header %}
    <h1 class="text-center">The Current Share Price of Tesla: ${{ current_price }}</h1>
{% endblock page_header %}

{% block content %}
{{ home_chart|safe }}

<div>
    <br>
    <h1 class="text-center">What is a Candlestick Chart?</h1>
    <br>
    <h3>Candlestick Charts use 'OHLC' prices (open, high, low, close) to create 'candles' for a certain time interval,
    typically 1 day per candle.</h3>
    <br>
    <h3>Candlestick charts are a staple for investors, as they provide detailed insight to how the market is trending
    for a particular company, many companies, or the entire stock market.</h3>
    <br>
    <h3>Read more about candlestick patterns here:
        <a class="tesla-link" href="https://en.wikipedia.org/wiki/Candlestick_chart" target="_blank">Wikipedia/candlestick</a>
    </h3>
</div>
<br><br>
{% endblock content %}
