<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
    <title>Tesla Now</title>

    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" type="text/css" href="\static\tesla\styles.css">

</head>

{% block content %}
    <div class="landing-container">
        <div class="jumbotron jumbotron-fluid mt-3 bg-success text-white ml-2 mr-2 border border-dark rounded">
            <div class="container">
                <h1>{{ greeting }}</h1>

                <p>{{ description }}</p>

                <a class="btn btn-lg btn-success btn-block border" href="{% url 'tesla:home' %}"
                role="button">Enter Tesla Now</a>
            </div>
        </div>
    </div>

{% endblock content %}
