{% extends 'tesla/base.html' %}

{% block page_header %}
  <h1>Newest Tesla-Related News</h1>
{% endblock page_header %}

{% block content %}

<br>
<br>

<img src="{{ news_package.4.0 }}" alt="Article Image">
<div class="news">
  <tr>
    <td><p>{{ news_package.5.0 }}, {{ news_package.0.0 }}</p></td>
    <td><h3>{{ news_package.1.0 }}</h3></td>
    <td><p>{{ news_package.2.0 }}</p></td>
    <a href="{{ news_package.3.0 }}" target="_blank" class="btn btn-success">Go To Article</a>
  </tr>
</div>


<img src="{{ news_package.4.1 }}" alt="Article Image">
<div class="news">
  <tr>
    <td><p>{{ news_package.5.1 }}, {{ news_package.0.1 }}</p></td>
    <td><h3>{{ news_package.1.1 }}</h3></td>
    <td><p>{{ news_package.2.1 }}</p></td>
    <a href="{{ news_package.3.1 }}" target="_blank" class="btn btn-success">Go To Article</a>
  </tr>
</div>


<img src="{{ news_package.4.2 }}" alt="Article Image">
<div class="news">
  <tr>
    <td><p>{{ news_package.5.2 }}, {{ news_package.0.2 }}</p></td>
    <td><h3>{{ news_package.1.2 }}</h3></td>
    <td><p>{{ news_package.2.2 }}</p></td>
    <a href="{{ news_package.3.2 }}" target="_blank" class="btn btn-success">Go To Article</a>
  </tr>
</div>


<img src="{{ news_package.4.3 }}" alt="Article Image">
<div class="news">
  <tr>
    <td><p>{{ news_package.5.3 }}, {{ news_package.0.3 }}</p></td>
    <td><h3>{{ news_package.1.3 }}</h3></td>
    <td><p>{{ news_package.2.3 }}</p></td>
    <a href="{{ news_package.3.3 }}" target="_blank" class="btn btn-success">Go To Article</a>
  </tr>
</div>


<img src="{{ news_package.4.4 }}" alt="Article Image">
<div class="news">
  <tr>
    <td><p>{{ news_package.5.4 }}, {{ news_package.0.4 }}</p></td>
    <td><h3>{{ news_package.1.4 }}</h3></td>
    <td><p>{{ news_package.2.4 }}</p></td>
    <a href="{{ news_package.3.4 }}" target="_blank" class="btn btn-success">Go To Article</a>
  </tr>
</div>

<img src="{{ news_package.4.5 }}" alt="Article Image">
<div class="news">
  <tr>
    <td><p>{{ news_package.5.5 }}, {{ news_package.0.8 }}</p></td>
    <td><h3>{{ news_package.1.5 }}</h3></td>
    <td><p>{{ news_package.2.5 }}</p></td>
    <a href="{{ news_package.3.5 }}" target="_blank" class="btn btn-success">Go To Article</a>
  </tr>
</div>

<img src="{{ news_package.4.6 }}" alt="Article Image">
<div class="news">
  <tr>
    <td><p>{{ news_package.5.6 }}, {{ news_package.0.8 }}</p></td>
    <td><h3>{{ news_package.1.6 }}</h3></td>
    <td><p>{{ news_package.2.6 }}</p></td>
    <a href="{{ news_package.3.6 }}" target="_blank" class="btn btn-success">Go To Article</a>
  </tr>
</div>

{% endblock content %}
